@model Product


<div class="col-md-3 col-sm-6 col-xs-12 pt-10">
    <div class="sin-product">
        <div class="pro-image fix">
            <a asp-action="ProductDetail" asp-route-id="@Model.ProductId" class="image"><img src="@Model.ImgUrl" alt="" /></a>
            <div class="pro-action">
                <a href="#" class="action-btn cart"><i class="zmdi zmdi-shopping-cart"></i></a>
                <a asp-action="ProductDetail" asp-route-id="@Model.ProductId" class="action-btn quick-view"><i class="zmdi zmdi-eye"></i></a>
            </div>
        </div>
        <div class="pro-details text-center">
            <div class="top fix">
                <p class="pro-cat float-left">@Model.Category.CategoryName</p>

            </div>
            <a asp-action="ProductDetail" asp-route-id="@Model.ProductId" class="pro-title" style="font-family:.VnRevue;">@Model.ProductName</a>
            <h3 class="pro-price">
                <span class="new" style="font-size:17px;">@Model.Price</span>
            </h3>
        </div>
    </div>
</div>